{% sw_extends 'storefront/page/product-detail/buy-widget.html.twig' %}

{% set examplePluginOptions = { text: 'Are you not interested in this product?' } %}

{% block page_product_detail_delivery_informations %}
    {{ parent() }}

    {# @var product \Shopware\Core\Content\Product\SalesChannel\SalesChannelProductEntity #}
    {% set product = page.product %}

    {% if not product.available %}
        <form id="page-product-detail-notification-on-stock-form"
              action="{{ path('frontend.productalert', {'productName': product.name|replace({' ': '-', ',': ''}), 'productNumber': product.productNumber}) }}"
              method="post"
              class="buy-widget">
            {{ sw_csrf('frontend.productalert', {'productName': product|replace({' ': '-'}), 'productNumber': product.productNumber}) }}
            <div class="page-product-detail-notification-on-stock"
                 style="border: 2px solid; border-color: lightgray; padding: 10px; text-align: center; margin-left: auto; margin-right: auto; padding-top: 20px; padding-bottom: 20px">
                <input type="hidden" name="product_id" value="{{ product.id }}">
                <input type="email" name="email" class="form-group col-md-7 input-Email-notification"
                       placeholder="Email address"
                       required="required">
                <select class="form-select col-md-4 select-email-notification-language" name="language" style="height:40px">
                    <option value="Deutsch">Deutsch</option>
                    <option value="English">English</option>
                </select>
                <div class="form-inline" style="padding-left: 15px">
                    <select class="form-select col-md-2 select-product-notification-quantity" name="quantity" style="height:40px">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>

                    {#                    <template on-submit-alert-plugin></template>#}
                    <button id="test123" type="submit" name="b" value="s" class="btn btn-primary col-md-9 btn-send-notification"
                            style="height:40px; margin-left: 20px">Submit</button>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}
